.news-content {
  width: 100%;
  position:  relative;
  background: white;
  flex: 1 0 auto;
  margin: -20px 0;
  padding: 20px 0;

  .information{
    text-align: center;
    .container-information {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .name-information {
        background: rgba(255, 255, 255, 0.55);
        width: 60%;
        //margin: 0;
        margin: 100px 0 0 0;
        padding: 20px 20px;
        height: 40px;
        font-weight: bold;
        text-align: center;
        position: relative;
        font-size: 40px;
        //border-top: solid 2px rgba(0, 0, 0, 0.2);
       // border-bottom: solid 2px rgba(0, 0, 0, 0.28);

      }
      .text-information {
        background: rgba(255, 255, 255, 0.55);
        text-align: justify;;
        font-size: 17px;
        width: 60%;
        padding: 20px 20px;
        height: auto;
        overflow: hidden;
        position: relative;
      }
    }
    .text-information-more {
      visibility: hidden;
    }
    .image-news{
      margin: -20px 0;
      width: 100%;
      height: 900px;
      background: linear-gradient(rgba(255,255,255,0) 200px, rgba(255, 255, 255)), url(https://cdn.pixabay.com/photo/2018/04/04/09/23/laptop-3289261_960_720.jpg) top left/cover no-repeat;
      opacity: .8;
      position:  absolute;

    }
  }
}
