.news-content {
  width: 100%;
  position:  relative;
  background: white;
  flex: 1 0 auto;
  margin: -20px 0;
  padding: 20px 0;

  .information{
    text-align: center;
    .container-information {
      display: flex;
      .name-information {
        //background: white;
        width: auto;
        //margin: 0;
        margin: 0 400px 0 400px;
        padding: 10px 30px;
        height: 40px;
        font-weight: bold;
        text-align: center;
        position: relative;
        font-size: 40px;
      }
      .text-information {
        //background: white;
        //text-align: center;
        font-size: 17px;
        width: 60%;

        padding: 10px 30px;
        height: auto;
        overflow: hidden;
        position: relative;
      }
    }
    .text-information-more {
      visibility: hidden;
    }
    .image-news{
      margin: -20px 0;
      width: 100%;
      height: 600px;
      background: linear-gradient(rgba(255,255,255,0) -10px, rgb(255, 255, 255)), url(https://cdn.pixabay.com/photo/2015/06/08/15/11/typewriter-801921_960_720.jpg) top left/cover no-repeat;
      opacity: .75;
      position:  absolute;

    }
  }
}
