<nav id="nav-menu">
    <popup-trigger  class="language">
        <div class="language-icon"></div>
        <a data-popup-trigger="eng" href="" class="language-change">eng</a>
    </popup-trigger>
    <popup-menu>
        <ul aria-hidden="true" id="popup-menu">
            <li data-menu-item class="active-elem"><a href="#" data-menu-target="toggle">eng</a></li>
            <li data-menu-item><a href="#" data-menu-target="hover">rus</a></li>
            <li data-menu-item><a href="#" data-menu-target="hover">deu</a></li>
            <li data-menu-item><a href="#" data-menu-target="hover">bel</a></li>
        </ul>
    </popup-menu>
</nav>