<nav class="nav-menu">
    <button class="language">
        <drop-down data-popup-trigger="eng">
            <div class="language-icon"></div>
            <span class="language-change">eng</span>
        </drop-down>
        <popup-menu>
            <ul class="popup-menu hide">
                <li><a href="#" data-menu-target="toggle">eng</a></li>
                <li><a href="#" data-menu-target="hover">rus</a></li>
                <li><a href="#" data-menu-target="hover">deu</a></li>
                <li><a href="#" data-menu-target="hover">bel</a></li>
            </ul>
        </popup-menu>
    </button>
</nav>