<header class="header">
    <a href="main-page.html" class="logo">Logo</a>
    <div class="language">
        <div class="language-icon"></div>
        <a href="" class="language-change">eg</a>
    </div>
</header>