.articles {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .link-a {
    color: rgba(0, 0, 0, .3);
    text-decoration: none;
    &:hover {
      color: rgba(108, 62, 34, 0.65);
    }
  }
}


@media screen and (max-width: 700px) {
  .articles {
    flex-direction: column;
    align-items: center;
  }
}