@color-back: rgba(213, 152, 61, 0.07);
body {
  display: flex;
  background: @color-back;
  flex-direction: column;
  font-family: 'Merriweather', serif;
  color: rgba(22, 0, 27, 0.9);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

.link-a {
  color: rgba(0, 0, 0, .3);
  text-decoration: none;
  &:hover {
    color: rgba(108, 62, 34, 0.65);
  }
}

#articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 700px) {
  #articles {
    flex-direction: column;
    align-items: center;
  }
}