<article class="container-news">
    <div class="image-news"></div>
    <div class="container-information">
        <h2 class="name-information">Information!</h2>
        <div class="text-information">
            <p class="">
                <a class="youtube-link" href={{var.link}}>hereyoutubevideo</a>
                {{var.text}}
            </p>
        </div>
    </div>
    <a href="news-page.html" class="text-information-more link-a">Read more...</a>
</article>