.slider {
  position: relative;
  height: 100%;
  overflow: hidden;
  .active-slide {
    position: relative;
    z-index: 3;
  }
  .slider-items.move-right, .slider-items.move-left {
    .active-slide, .sibling {
      position: absolute;
      width: 100%;
    }
    .sibling {
      z-index: 3;
    }
  }
  .slider-items.move-right {
    .active-slide {
      animation: move-to-right-active .3s;
    }
    .sibling {
      animation: move-to-right-sibling .3s;
    }
  }
  .slider-items.move-left {
    .active-slide {
      animation: move-to-left-active .3s;
    }
    .sibling {
      animation: move-to-left-sibling .3s;
    }
  }
}

.btn-next, .btn-prev {
  position: absolute;
  z-index: 99;
  height: 100%;
  padding: 0 3px;
  border: none;
  opacity: .1;
  cursor: pointer;
  transition: opacity .2s ease-in;
  &:hover {
    opacity: .5;
  }
  &:focus {
    outline: none;
  }
}

.btn-next {
  right: 0;
}

.btn-prev {
  left: 0;
}

.not-next:hover, .not-prev:hover {
  opacity: .2;
}

@keyframes move-to-right-active {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }

}

@keyframes move-to-right-sibling {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }

}

@keyframes move-to-left-sibling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }

}

@keyframes move-to-left-active {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }

}
