<nav class="nav-menu">
    <drop-down-trigger>
        <button class="language">
            <div class="language-icon"></div>
            <span class="language-change">eng</span>
        </button>
    </drop-down-trigger>
    <drop-down-menu id="popup-menu" not-active>
        <ul>
            <li><a href="javascript: void 0;" active-item>eng</a></li>
            <li><a href="javascript: void 0;">rus</a></li>
            <li><a href="javascript: void 0;">deu</a></li>
            <li><a href="javascript: void 0;">bel</a></li>
        </ul>
    </drop-down-menu>
</nav>