<nav class="nav-menu">
    <drop-down-trigger target="lang-selector">
        <button class="language">
            <span class="language-change" data-value>eng</span>
        </button>
    </drop-down-trigger>
    <drop-down-menu id="lang-selector" class="popup-menu">
        <ul>
            <li><a href="javascript: void 0;" active-item>eng</a></li>
            <li><a href="javascript: void 0;">rus</a></li>
            <li><a href="javascript: void 0;">deu</a></li>
            <li><a href="javascript: void 0;">bel</a></li>
        </ul>
    </drop-down-menu>
</nav>