<div class="slider">
    <!--<button class="arrow prev">⇦</button>-->
    <div id="list-news">
        <article class="information" id="news-1">
            <h2 class="name-information">Information!</h2>
            <div class="text-information">
                <p class="">Sample setup with Gulp, Babel, Mocha and Webpack over ES6, transpiled to ES5 (source
                    maps
                    included).

                    All the code, Mocha tests and config files from Gulp and Webpack are ES6.

                    The is a preload bundle (to be loaded during page load time) and also a separate bundle (to
                    be
                    lazy
                    loaded after the user presses a button).</p>
            </div>
            <a href="" class="text-information-more">Read more</a>
        </article>
        <article class="information" id="news-2">
            <h2 class="name-information">Information!</h2>
            <div class="text-information">
                <p class="">Sample setup with Gulp, Babel, Mocha and Webpack over ES6, transpiled to ES5 (source
                    maps
                    included).

                    The is a preload bundle (to be loaded during page load time) and also a separate bundle (to
                    be
                    lazy
                    loaded after the user presses a button).</p>
            </div>
            <a href="" class="text-information-more">Read more</a>
        </article>
        <article class="information" id="news-3">
            <h2 class="name-information">Information!</h2>
            <div class="text-information">
                <p class="">Sample setup with Gulp, Babel, Mocha and Webpack over ES6, transpiled to ES5 (source
                    maps
                    included).

                    All the code, Mocha tests and config files from Gulp and Webpack are ES6.
                </p>
            </div>
            <a href="" class="text-information-more">Read more</a>
        </article>
    </div>
    <!--<button class="arrow next">⇨</button>-->
    <div class="buttons-chose">
        <div class="button-chose-1"></div>
        <div class="button-chose-2"></div>
        <div class="button-chose-3"></div>
    </div>
</div>