<div class="slider">
    <ul class="slider-items">
        <li class="news-item">
            <h2 class="name-information">Information!</h2>
            <div class="text-information">
                <p class="">Sample setup with Gulp, Babel, Mocha and Webpack over ES6, transpiled to ES5 (source
                    maps
                    included).

                    All the code, Mocha tests and config files from Gulp and Webpack are ES6.

                    The is a preload bundle (to be loaded during page load time) and also a separate bundle (to
                    be
                    lazy
                    loaded after the user presses a button).</p>
            </div>
            <a href="" class="text-information-more">Read more...</a>
        </li>
        <li class="news-item">
            <h2 class="name-information">Information!</h2>
            <div class="text-information">
                <p class="">Sample setup with Gulp, Babel, Mocha and Webpack over ES6, transpiled to ES5 (source
                    maps
                    included).

                    The is a preload bundle (to be loaded during page load time) and also a separate bundle (to
                    be
                    lazy
                    loaded after the user presses a button).</p>
            </div>
            <a href="" class="text-information-more">Read more...</a>
        </li>
        <li class="news-item">
            <h2 class="name-information">Information!</h2>
            <div class="text-information">
                <p class="">Sample setup with Gulp, Babel, Mocha and Webpack over ES6, transpiled to ES5 (source
                    maps
                    included).

                    All the code, Mocha tests and config files from Gulp and Webpack are ES6.
                </p>
            </div>
            <a href="" class="text-information-more">Read more...</a>
        </li>
    </ul>

    <button class="controls arrow-previous">
        <img class="img-arrow arrow-previous-img"
             src="https://image.freepik.com/free-icon/no-translate-detected_318-112771.jpg"/>
    </button>

    <button class="controls arrow-next">
        <img class="img-arrow arrow-previous-img"
             src="https://image.freepik.com/free-icon/no-translate-detected_318-131657.jpg"/>
    </button>

    <div class="dots-wrapper">
        <span class="dot" title="1"></span>
        <span class="dot" title="2"></span>
        <span class="dot" title="3"></span>
    </div>
</div>