@color-active: #717171;

.shadow-border() {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -26px rgba(0, 0, 0, .8),
  23px 0 20px -26px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

.shadow-border-hover() {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 10px rgba(0, 0, 0, .1) inset;
}

.slider {
  width: 27.3%;
  transition: 0.2s ease;
  .shadow-border;
  .slider-items {
    .container-news, .component-news {
      margin: 0;
      background-color: #fff;
      .shadow-border;
      &:hover {
        .shadow-border-hover;
        .text-information-more {
          margin: 10px 20px;
          float: right;
          visibility: visible;
        }
      }
      .name-information {
        height: 30px;
        margin: 15px 40px;
        font-weight: bold;
      }
      .text-information {
        height: 250px;
        margin: 5px 40px;
        overflow: hidden;
      }
      .text-information-more {
        visibility: hidden;
      }
    }
  }
  .dots-wrapper {
    .dot {
      background-color: #bbb;
      transition: background-color .6s ease;
      &:hover {
        background-color: @color-active;
      }
    }
    .active {
      background-color: @color-active;
    }
  }
}





