#list-news {
  width: 25.3%;
  height: 400px;
  margin: 2% 4% 2% 4%;
}
.slide {
  width: 25.3%;
  height: 400px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  transition: 0.4s ease;
  box-shadow:
          0 1px 4px rgba(0, 0, 0, .3),
          -23px 0 20px -23px rgba(0, 0, 0, .23),
          23px 0 20px -23px rgba(0, 0, 0, .23),
          0 0 40px rgba(0, 0, 0, .1) inset;
  .name-information {
    margin: 15px;
    font-weight: bold;
  }
  .text-information {
    height: 67%;
    margin: 5%;
    overflow: hidden;
  }
  .text-information-more {
    margin: 15px;
  }
}
.slide:hover {
  cursor: pointer;
  box-shadow:
          0 1px 4px rgba(0, 0, 0, .3),
          -23px 0 20px -23px rgba(0, 0, 0, .8),
          23px 0 20px -23px rgba(0, 0, 0, .8),
          0 0 10px rgba(0, 0, 0, .1) inset;}

.nav {
  text-align: center;
  z-index: 99;
}

.dots {
  display: inline-block;
  top: -5px;
  width: 18px;
  height: 18px;
  position: relative;
  margin: 370px 4px 0 0;
  border-radius: 50%;
  background: rgba(105, 61, 33, 0.51);
  z-index: 99;
}

.dots:hover {
  cursor: pointer;
  background: rgba(169, 113, 59, 0.28);
}

#elem-news-1, #elem-news-2, #elem-news-3 {
  display: none;
}

#elem-news-1:checked ~ #news-1,
#elem-news-2:checked ~ #news-2,
#elem-news-3:checked ~ #news-3 {
  z-index: 9;
}

@media screen and (max-width: 700px) {
  #list-news, .slide {
    width: 70%;
  }
}