footer {
  display: flex;
  background-color: #000000;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: flex-end;
  color: white;
  margin-top: 20px;
  .footer-container {
    display: flex;
    margin-right: 30px;
    .data-page {
    }
  }
}