@import 'icon.less';
body {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
  color: rgba(22, 0, 27, 0.9);
  background: rgba(88, 44, 44, 0.12);
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

//*:focus {
//  outline: aqua 1px solid;
//}

