<grid-element target="list-news">
    <section class="articles" data-items>
        {{> list-news list=news}}
        {{> component-news var=news.[0]}}
        {{> component-news var=news.[1]}}
        {{> component-news var=news.[2]}}
        {{> component-news var=news.[3]}}
        {{> component-news var=news.[4]}}
    </section>
</grid-element>
<div id="load"></div>
<!--<button type="button" id="list-news" class="button-load">-->
<!--<p>load more...</p>-->
<!--</button>-->