<grid-element data-count-query = "(max-width:700px)=>1|(max-width:1100px)=>2|3 "
              data-url="/rest/main-page.html" debug-delay="1000" data-news="{{this.news}}">
    <section class="articles" data-items-container>
        {{> list-news list=news}}
        {{> component-news var=news.[0]}}
        {{> component-news var=news.[1]}}
        {{> component-news var=news.[2]}}
        {{> component-news var=news.[3]}}
        {{> component-news var=news.[4]}}
        {{> component-news var=news.[5]}}
        {{> component-news var=news.[6]}}
        {{> component-news var=news.[7]}}
    </section>
    <div class="container-loader"><div class="loader"></div></div>
</grid-element>