<main>
    <section class="articles">
        {{{include 'component-news' var='var1'}}}
        <!--{{> component-news}}-->
        <!--{{> list-news}}-->
        <!--{{> component-news}}-->
        <!--{{> component-news}}-->
        <!--{{> component-news}}-->
        <!--{{> list-news}}-->
    </section>
</main>