<main>
    <div class="background-img"></div>
    <!--{{>video-overlay}}-->
    <section id="articles">
        {{> component-news}}
        {{> component-news}}
        {{> list-news}}
        {{> component-news}}
        {{> component-news}}
    </section>
</main>