<main>
    <section class="articles">
        {{{include 'component-news' var='news1'}}}
        {{{include 'component-news' var='news3'}}}
        {{{include 'list-news'}}}
        {{{include 'component-news' var='news2'}}}
    </section>
</main>