<main>
    <!--list-->
    <section data-role="list" class="active">
        <div id="site-content"></div>
    </section>
    <!--template-->
    <section id="articles">
        {{> component-news}}
        {{> component-news}}
        {{> list-news}}
        {{> component-news}}
        {{> component-news}}
    </section>
</main>