<main>
    <section class="articles">
        {{> component-news}}
        {{> component-news}}
        {{> list-news}}
        {{> component-news}}
        {{> component-news}}
        {{> component-news}}
        {{> list-news}}
    </section>
</main>