<main>
    <!--list-->
    <section data-role="list" class="active">
        <div id="site-content"></div>
    </section>
    <!--template-->
    <div id="articles">
        {{> view}}
        {{> view}}
        {{> view}}
    </div>
</main>