@color-border: rgba(0, 0, 111, 0.21);
.information {
  //word-break: break-all;
  width: 25.3%;
  height: 400px;
  background-color: rgb(255, 255, 255);
  margin: 2% 4% 2% 4%;
  //box-shadow: 0.5px -0.5px 10px 3px rgba(108, 64, 34, 0.51);
  box-shadow:
          0 1px 4px rgba(0, 0, 0, .3),
          -23px 0 20px -26px rgba(0, 0, 0, .8),
          23px 0 20px -26px rgba(0, 0, 0, .8),
          0 0 40px rgba(0, 0, 0, .1) inset;
  .name-information {
    margin: 15px;
    font-weight: bold;
  }
  .text-information {
    height: 67%;
    margin: 5%;
    overflow: hidden;
  }
  .text-information-more {
    margin: 15px;
    bottom: 7px;
  }
}

.information:hover {
  cursor: pointer;
  box-shadow:
          0 1px 4px rgba(0, 0, 0, .3),
          -23px 0 20px -23px rgba(0, 0, 0, .8),
          23px 0 20px -23px rgba(0, 0, 0, .8),
          0 0 10px rgba(0, 0, 0, .1) inset;
}

@media screen and (max-width: 700px) {
  .information {
    width: 70%;
  }
}

