.shadow-border() {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -26px rgba(0, 0, 0, .8),
  23px 0 20px -26px rgba(0, 0, 0, .8),
  0 0 40px rgba(0, 0, 0, .1) inset;
}

.shadow-border-hover() {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  0 0 10px rgba(0, 0, 0, .1) inset;
}

.component-news {
  display: flex;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  transition: .2s ease;
  .shadow-border;
  &:hover {
    cursor: pointer;
    .shadow-border-hover;
    .actions {
      position: relative;
      margin: 0 40px;
      visibility: visible;
      .text-information-more {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }
  .image-news {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    img {
      position: absolute;
      width: 100%;
      min-height: 100%;
      opacity: .3;
      object-fit: cover;
    }
    &::after, &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 400px;
    }
    &::after {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 200px, rgba(255, 255, 255, 1) 100%);
    }
    &::before {
      background: linear-gradient(to top, rgba(255, 255, 255, 0) 200px, rgba(255, 255, 255, 1) 100%);
    }
  }
  .container-information {
    height: 320px;
    margin: 9px 40px;
    overflow: hidden;
    text-align: justify;
    .name-information {
      max-height: 80px;
      word-break: break-word;
      margin: 10px 0 10px;
      font-size: 1.4em;
      font-weight: bold;
      overflow: hidden;
    }
    .text-information {
      height: 100%;
      column-width: 400px;
    }
  }
  .actions {
    position: relative;
    margin: 0 40px;
    visibility: hidden;
  }

    .youtube-link {
      color: firebrick;
    }
  .container-news {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}
